.textfield {
    border-radius: 0.125rem;
    border-width: 0.0625rem;
    padding: 0.25rem;
}

.textfield:focus {
    border-color: rgba(0, 120, 212, 1);
}

.field-element .textfield {
    flex-grow: 1;
}

.field-error-state .textfield {
    border-color: rgba(205, 74, 69, 1);
    outline-color: rgba(205, 74, 69, 1);
}
