html {
    height: 100%;
}

body {
    display: flex;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
        sans-serif;
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-grow: 1;
}

.app {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/**
 * AzureDevOps UI overrides
 */
.bolt-focus-treatment,
.focus-treatment {
    animation: none !important;
    box-shadow: none !important;
}

.bolt-textfield-input {
    padding: 5px 6px 4px 6px;
}

.field-error-state .bolt-textfield {
    border-color: rgba(205, 74, 69, 1) !important;
}

.bolt-checkbox.bolt-focus-treatment {
    border: 1px solid transparent;
}

.bolt-focus-visible .bolt-checkbox.bolt-focus-treatment:focus {
    border: 1px solid rgba(0, 120, 212, 1);
}
